
{%liquid
    assign main_menu = section.settings.custom_menu
 %}

<ul class="custom_main_menu">
    
    {% for parent in main_menu.links %}
        {% if parent.levels == 0 %}
            <li class="main_menu_item {{link.handle}}"> 
                <a href="{{parent.url}}" class="{% if parent.active %}active{% endif %}"> {{parent.title}} </a>
            </li>
        {%  elsif parent.levels == 1 %}
            <li class="dropdown_menu main_menu_item"> 
                <span> {{parent.title}} </span>
                <div class="dropdown_menu"> 
                    <div class="dropdown_menu-container">

                        <div class="dropdown_menu_items">
                            {% for child in parent.links %}
                            <a href="{{child.url}}" class="{% if child.active %}active{% endif %}"> {{child.title}} </a>
                            {% endfor %}
                        </div>
                        <div> Slider </div>

                    </div>
                </div>
            </li>
        {%  else parent.levels == 2 %}
            <li class="mega_menu main_menu_item"> 
                <span>  </span>
            </li>
        {% endif %}
    {% endfor %}

</ul>

<style>
    .custom_header_navigation .custom_main_menu{
        display: flex;
        width: 100%;
        height: 100%; 
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
   .custom_header_navigation ul{
        margin: 0;
        padding: 0;
    }
   .custom_header_navigation li{
        list-style: none;
    }
    .custom_header_navigation a{
        text-decoration: none;
    }
    .custom_header_navigation .main_menu_item{
        display: block;
        padding: 5px;
        border-radius: 5px;
    }
    .custom_header_navigation .main_menu_item a, span{
        color: #fff;
    }
    
    .custom_main_menu .dropdown_menu{
        /* position: absolute; */
        width: 100%;
        height: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: aquamarine;
    }
</style>