

<div class="mega-menu-collections">

{% for child in parent.links %}
Parent:
{{ parent.title }}

Children:
{{ parent.links.size }}
    {% assign collection = child.object %}

    <a href="{{ child.url }}" class="mega-menu-collection">

        <div class="mega-menu-collection__icon">

            {% if collection and collection.metafields.custom.icon %}

                {{
                    collection.metafields.custom.icon
                    | image_url: width: 48
                    | image_tag
                }}

            {% endif %}

        </div>

        <span>{{ child.title }}</span>

    </a>

{% endfor %}

</div>



<style>
    .mega-menu-collections{
    display:grid;
    grid-template-columns:repeat(2,minmax(0,1fr));
    gap:18px 70px;
}

.mega-menu-collection{
    display:flex;
    align-items:center;
    gap:16px;
    text-decoration:none;
    color:#fff;
}

.mega-menu-collection__icon{
    width:42px;
    height:42px;
    border-radius:50%;
    border:1px solid rgba(255,255,255,.25);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;

}

.mega-menu-collection__image{
    width:22px;
    height:22px;
    object-fit:contain;
}

/*HOVER*/
.mega-menu-collection{
    transition:.3s;
}

.mega-menu-collection:hover{
    color:#58B7A5;
}

.mega-menu-collection:hover
.mega-menu-collection__icon{
    background:#58B7A5;
}
</style>