{% liquid assign mobile_menu = menu %}

{% if mobile_menu != blank %}

<nav class="custom-mobile-menu">
    <ul class="custom-mobile-menu__list">
        {% for parent in mobile_menu.links %}
            {% assign has_children = false %}
            {% if parent.links.size > 0 %}
                {% assign has_children = true %}
            {% endif %}

            <li class="custom-mobile-menu__item data-menu-item{% if has_children %} has-submenu {% endif %}">
                {% if has_children %}

                   <button type="button" class="custom-mobile-menu__button" data-mobile-trigger data-menu-title="{{ parent.title }}"
                        data-menu-handle="{{ parent.handle }}"baria-expanded="false">
                        <span> {{ parent.title }} </span>
                        <span class="custom-mobile-menu__arrow"> {{ 'icon-chevron-right.svg' | inline_asset_content }} </span>
                    </button>

                {% else %}

                    <a href="{{ parent.url }}" class="custom-mobile-menu__link"> {{ parent.title }} </a>

                {% endif %}
            </li>

        {% endfor %}
    </ul>
</nav>

{% endif %}

<style>
.custom-mobile-menu{
width:100%;
}

.custom-mobile-menu__list{
margin:0;
padding:0;
list-style:none;
}

.custom-mobile-menu__item{
border-bottom:1px solid rgba(255,255,255,.08);
}

.custom-mobile-menu__link,
.custom-mobile-menu__button{
display:flex;
justify-content:space-between;
align-items:center;
width:100%;
padding:18px 20px;
background:none;
border:none;
color:#fff;
font-size:16px;
font-weight:500;
text-decoration:none;
cursor:pointer;
}

.custom-mobile-menu__arrow{
display:flex;
align-items:center;
justify-content:center;
width:18px;
height:18px;
}

.custom-mobile-menu__arrow svg{
width:16px;
height:16px;
}
</style>