<style>
/* Start CSS for Image Slider*/
  .block-{{ block.id }}.custom-product_slider .price{
 font-family: var(--font-nohemi);
  font-size: var(--font-subtitle-large);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-normal);
  color: var(--color-background);
  }
  .block-{{ block.id }}.custom-product_slider .main-price{
  font-weight: var(--font-weight-regular);
  }

 .block-{{ block.id }} .price-wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 20px;
}
 .block-{{ block.id }} .price-wrapper .main-price {
  position: relative;
  display: inline-block;
}

.block-{{ block.id }} .price-wrapper .main-price::after {
  content: '';
  position: absolute;
  top: 70%;
  left: -3.5%;
  width: 110%;
  height: 2px;
  background-color: red;
  transform: rotate(-10deg);
  transform-origin: left center;
}
.block-{{ block.id }} .price-wrapper .compare-price {
  background-color: #fff;
  border-radius: 200px;
  padding: 15px 64px 7px 32px;
}



  .block-{{ block.id }} .font-subtitle-2{
    margin-bottom: 20px;
  }
  .block-{{ block.id }} .featured-middle-content{
    padding: {{top_spacing}}px 0 {{bottom_spacing}}px;
  }
  .block-{{ block.id }} .featured-bottom-content{
    display: flex;
  }
    

@media (min-width: 767px) and (max-width: 1024px) {
    .block-{{ block.id }} .featured-middle-content{
    padding: 20px 0 20px;
  }
   
}

@media(max-width: 767px){

.featured-bottom-content {
    max-width: 350px;
    display: flex;
    width: 100%;
    margin: auto;
}
.block-{{ block.id }} .custom-global-button {
    width: 100%;
    margin: auto;
}

}
/*End Css for Image Slider*/


</style>

{% if product != blank %}

 <div class="color-{{ color_scheme }} custom-product_slider swiper-slide slide-media-main block-{{ block.id }}" style="--title-width: {{ title_width }}px; --desc-width: {{ description_width }}px; --radius: {{ slider_border_radius }}px;">
    
   

    <div class="only-desktop slide-background-media"
        style="background-image:url({% if desktop-image %}
            {{ desktop-image | image_url: width: 1000 }}
        {% else product.featured_image %}
            {{ product.featured_image | image_url: width: 1400 }}
        {% endif %})">
    </div>

    <div class="only-mobile mobile-media"> 
        {% if mobile-image %}
            {{ mobile-image | image_url: width: 768 | image_tag: loading: 'lazy', fetchpriority: 'high', class: 'mobile-image only-mobile' }}
        {% elsif product.metafields.custom.product_mobile_img %}
             {{ product.metafields.custom.product_mobile_img | image_url: width: 768 | image_tag: class: 'mobile-image only-mobile', loading: 'lazy' }}
        {% else product.featured_image %}
             {{ product.featured_image | image_url: width: 768 | image_tag: class: 'mobile-image only-mobile', loading: 'lazy' }}
        {% endif %}
    </div> 
   

    <div class="featured-slider-content"> 
        <div class="featured-top-content"> 
            {% if title %}
                <h2 class="title font-title-medium">{{ title }}</h2>
            {% else product.title%}
                <h2 class="title font-title-medium">{{ product.title }}</h2>
            {% endif %}

            <div class="price-wrapper">
                {% if product.compare_at_price < product.price %}
                    <span class="compare-price price"> {{product.compare_at_price | money_without_trailing_zeros}} p/st</span>
                {% endif %}
                
                <span class="main-price price"> {{ product.price |  money_without_trailing_zeros }}</span>
            </div>
        </div>
        
        
        
        
        <div class="featured-bottom-content">

            {% if description %}
                <div class="desc">{{ description }}</div>
            {%  elsif product.description %}
                <div class="product-desc">{{ product.description }}</div>
            {% endif %}

                {% render 'custom-global-button',
                button_link: button_link,
                button_text: button_text,
                transparent: true
            %}
        </div>
        
    </div>
   

</div> 
{% endif %}                  