<div class="hero_search_bar">
    <form action="{{ routes.search_url }}" method="get"> 
        <div class="form_left_content"> 
            <img class="heroSearchIcon" src="{{ 'search-sm.svg' | asset_url }}" width= "50" height= "50" alt="{{ search }}">
            <input
            type="search",
            placeholder=  "{{ search_placeholder}}",
            value="{{ search.terms | escape }}",
            name="q" 
            >
        </div>
        
        <button class="search-submit-button" type="submit"> <p>{{ search_button_text}} </p> <img class="heroClickBtnIcon" src="{{ 'Vector 1.svg' | asset_url }}" width= "19" height= 100% alt="{{ clickButton }}"> </button>
    </form>
 </div>

