{% liquid
    
    assign inherit_color_scheme = block.settings.inherit_color_scheme
    assign color_scheme = block.settings.color_scheme
    assign content_width = block.settings.content_width
    assign content_alignment = block.settings.content_alignment
    assign heading_tag = block.settings.heading_tag
    assign custom_heading = block.settings.custom_heading
    assign subtitle_tag = block.settings.subtitle_tag
    assign top_subtitle = block.settings.top_subtitle
    assign bottom_subtitle = block.settings.bottom_subtitle

    assign block_outer_width = block.settings.block_outer_width
    assign block_max_width = block.settings.block_max_width
    assign padding_top = block.settings.padding_top
    assign padding_right = block.settings.padding_right
    assign padding_bottom = block.settings.padding_bottom
    assign padding_left = block.settings.padding_left

    assign block_border_width = block.settings.block_border_width
    assign block_border_style = block.settings.block_border_style
    assign block_border_color = block.settings.block_border_color
    assign block_border_top_left_radius = block.settings.block_border_top_left_radius
    assign block_border_top_right_radius = block.settings.block_border_top_right_radius
    assign block_border_bottom_right_radius = block.settings.block_border_bottom_right_radius
    assign block_border_bottom_left_radius = block.settings.block_border_bottom_left_radius
    assign block_border_opacity = block.settings.block_border_opacity
    assign border_hover_color = block.settings.border_hover_color


%}

<div class="custom_heading custom_heading--{{ block.id }} {% if inherit_color_scheme %} color-{{ color_scheme }} gradient {% endif %}  {% if block.settings.block_border %} block_border {% endif %}" {{ block.shopify_attributes }}  style="padding: var(--block_spacing);">

    {% if top_subtitle != blank %}
        <{{ subtitle_tag }} class="custom_subtitle custom_subtitle_top">
            {{ block.settings.top_subtitle }}
        </{{ subtitle_tag }}>
    {% endif %}

    {% if custom_heading != blank %}
        <{{ heading_tag }} class="custom_heading_text">
            {{ custom_heading }}
        </{{ heading_tag }}>
    {% endif %}

    {% if bottom_subtitle != blank %}
        <{{ subtitle_tag }} class="custom_subtitle custom_subtitle_bottom">
            {{ bottom_subtitle }}
        </{{ subtitle_tag }}>
    {% endif %}

</div>

<style>

    .custom_heading--{{ block.id }}{
        width: {{ block_outer_width }};
        max-width: {{ block_max_width }}px;
        --block_spacing: {{ padding_top }}px {{ padding_right }}px {{ padding_bottom }}px {{ padding_left }}px;
        height: 100%;
        --content_width: {{ content_width }};
        --content_alignment: {{ content_alignment }};
    }
    /* BORDER */
    .custom_heading--{{ block.id }}.block_border{
        border: {{ block_border_width }}px {{ block_border_style }} {{ block_border_color }};
        opacity: {{ block_border_opacity | divided_by: 100.0 }};
        border-radius: {{ block_border_top_left_radius }}px
                        {{ block_border_top_right_radius }}px
                        {{ block_border_bottom_right_radius }}px
                        {{ block_border_bottom_left_radius }}px;
    }

    .custom_heading--{{ block.id }}.block_border:hover{
       border-color: {{border_hover_color}};
    }

/* MAIN HEADING */

    .custom_heading--{{ block.id }} .custom_heading_text{
        margin: 0;
        font-size: clamp(
            {{ block.settings.mobile_min_fontsize }}px,
            calc( {{ block.settings.mobile_min_fontsize }}px + 
            ( {{ block.settings.desktop_max_fontsize }} - {{ block.settings.mobile_min_fontsize }} ) * ((100vw - 320px) / 880)), {{ block.settings.desktop_max_fontsize }}px );
        font-weight: {{ block.settings.font_weight }};
        line-height: {{ block.settings.line_height }};
        letter-spacing: {{ block.settings.letter_spacing }}px;

        width: var(--content_width);
        max-width: {{ block.settings.heading_maxwidth }}px;

        text-align: var(--content_alignment);
        text-transform: {{ block.settings.text_transform }};
        white-space: {{ block.settings.white_space }};
       
        overflow-wrap: break-word;
        word-break: break-word;

        {% if inherit_color_scheme == true %}
        color: {{ block.settings.heading_color }};
        {% endif %}
    }
    
    /* SUBTITLES */

    .custom_heading--{{ block.id }} .custom_subtitle{

        margin: 0;
        font-size: clamp({{ block.settings.subtitle_mobile_size }}px,
            calc({{ block.settings.subtitle_mobile_size }}px +
                ({{ block.settings.subtitle_desktop_size }} - {{ block.settings.subtitle_mobile_size }}) * 
                ((100vw - 320px) / 880)), {{ block.settings.subtitle_desktop_size }}px);
        font-weight: 600;
        line-height: {{ block.settings.subtitle_line_height }};
        letter-spacing: {{ block.settings.subtitle_letter_spacing }}px;
        text-transform: {{ block.settings.subtitle_transform }};
        width: var(--content_width);
        max-width: {{ block.settings.heading_maxwidth }}px;
        text-align: var(--content_alignment);
        overflow-wrap: break-word;
        word-break: break-word;

        {% if inherit_color_scheme == true %}
        color: {{ block.settings.subtitle_color }};
        {% endif %}
    }

    /* TOP SUBTITLE */

    .custom_heading--{{ block.id }} .custom_subtitle_top{
        margin-bottom: {{ block.settings.top_subtitle_spacing }}px;
    }

    /* BOTTOM SUBTITLE */
    .custom_heading--{{ block.id }} .custom_subtitle_bottom{
        margin-top: {{ block.settings.bottom_subtitle_spacing }}px;
    }
</style>

{%  schema  %} 
{
    "name": "Heading Title block",
    "tag": null,
    "settings": [
        {
            "type": "checkbox",
            "id": "block_settings",
            "label": "Block Settings",
            "default": false
        },
        {
            "type": "select",
            "id": "block_outer_width",
            "label": "Block Size",
            "options": [
                { "value": "100%", "label": "100%" },
                { "value": "75%", "label": "75%" },
                { "value": "66.66%", "label": "66%" },
                { "value": "50%", "label": "50%" },
                { "value": "33.33%", "label": "33%" },
                { "value": "25%", "label": "25%" },
                { "value": "fit-content", "label": "Fit Content" }
            ],
            "default": "100%",
            "visible_if": "{{ block.settings.block_settings }}"
        },
        {
            "type": "range",
            "id": "block_max_width",
            "label": "Block Max Width",
            "min": 200,
            "max": 2000,
            "step": 20,
            "unit": "px",
            "default": 1200,
            "visible_if": "{{ block.settings.block_settings }}"
        },
        {
            "type": "checkbox",
            "id": "block_spacing",
            "label": "Block Padding",
            "default": false,
            "visible_if": "{{ block.settings.block_settings }}"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "default": 0,
            "visible_if": "{{ block.settings.block_spacing }}"
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "default": 0,
            "visible_if": "{{  block.settings.block_spacing }}"
        },
        {
            "type": "range",
            "id": "padding_left",
            "label": "Padding Left",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "default": 0,
            "visible_if": "{{ block.settings.block_spacing }}"
        },
        {
            "type": "range",
            "id": "padding_right",
            "label": "Padding Right",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "default": 0,
            "visible_if": "{{  block.settings.block_spacing }}"
        }, 
        {
            "type": "checkbox",
            "id": "inherit_color_scheme",
            "label": "Block Color Scheme",
            "default": false,
            "visible_if": "{{ block.settings.block_settings }}"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1",
            "visible_if": "{{  block.settings.inherit_color_scheme == true}}"
        },
        {
            "type": "checkbox",
            "id": "block_border",
            "label": "Block Border",
            "default": false,
            "visible_if": "{{ block.settings.block_settings }}"
        },
        {
            "type": "range",
            "id": "block_border_width",
            "label": "Border Size",
            "min": 0,
            "max": 10,
            "step": 0.5,
            "unit": "px",
            "default": 3,
            "visible_if": "{{ block.settings.block_settings and block.settings.block_border }}"
        },
        {
            "type": "select",
            "id": "block_border_style",
            "label": "Border Style",
            "default": "solid",
            "options": [
            {"label": "Solid", "value": "solid"},
            {"label": "Dashed", "value": "dashed"},
            {"label": "Dotted", "value": "dotted"},
            {"label": "Double", "value": "double"}
            ],
            "visible_if": "{{ block.settings.block_settings and block.settings.block_border }}"
        },
        {
            "type": "color",
            "id": "block_border_color",
            "label": "Border Color",
            "default": "#000000",
            "visible_if": "{{ block.settings.block_settings and block.settings.block_border }}"
        },
        {
            "type": "range",
            "id": "block_border_opacity",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "%",
            "label": "Border Opacity",
            "default": 100,
            "visible_if": "{{ block.settings.block_settings and block.settings.block_border }}"
        },
        {
            "type": "color",
            "id": "border_hover_color",
            "label": "Border Hover Color",
            "default": "#ff0000",
            "visible_if": "{{ block.settings.block_settings and block.settings.block_border }}"
        },
        {
            "type": "checkbox",
            "id": "block_border_radius",
            "label": "Border Radius",
            "default": false,
            "visible_if": "{{ block.settings.block_settings and block.settings.block_border }}"
        },
        {
            "type": "range",
            "id": "block_border_top_left_radius",
            "label": "Top Left Radius",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "visible_if": "{{ block.settings.block_border and block.settings.block_border_radius }}"
        },
        {
            "type": "range",
            "id": "block_border_top_right_radius",
            "label": "Top Right Radius",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "visible_if": "{{ block.settings.block_border and block.settings.block_border_radius }}"
        },
        {
            "type": "range",
            "id": "block_border_bottom_left_radius",
            "label": "Bottom Left Radius",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "visible_if": "{{ block.settings.block_border and block.settings.block_border_radius }}"
        },
            {
            "type": "range",
            "id": "block_border_bottom_right_radius",
            "label": "Bottom Right Radius",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "visible_if": "{{ block.settings.block_border and block.settings.block_border_radius }}"
        },
        {
            "type": "select",
            "id": "content_width",
            "label": "Content Width",
            "options": [
                
                { "value": "100%", "label": "Full" },
                { "value": "fit-content", "label": "Fit Content" }
            ],
            "default": "fit-content"
        },
        {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "options": [
                { "value": "left", "label": "Left" },
                { "value": "center", "label": "Center" },
                { "value": "right", "label": "Right" }
            ],
            "default": "left",
            "visible_if": "{{ block.settings.content_width == '100%' }}"
        },
        {
            "type": "header",
            "content": "Heading Settings"
        },
        {
            "type": "select",
            "id": "heading_tag",
            "label": "Heading Tag",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ],
            "default": "h2"
        },
        {
            "type": "inline_richtext",
            "id": "custom_heading",
            "label": "Heading",
            "default": "Your heading here"
        },
        {
            "type": "range",
            "id": "heading_maxwidth",
            "label": "Heading Max Width",
            "min": 300,
            "max": 1200,
            "unit": "px",
            "step": 10,
            "default": 1000
        },
        {
            "type": "checkbox",
            "id": "typography",
            "label": "Heading Typography",
            "default": false
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#000000",
            "visible_if": "{{ block.settings.typography }}"
        },
        {
            "type": "range",
            "id": "mobile_min_fontsize",
            "label": "Mobile Font Size",
            "min": 24,
            "max": 80,
            "step": 1,
            "unit": "px",
            "default": 32,
            "visible_if": "{{ block.settings.typography }}"
        },
        {
            "type": "range",
            "id": "desktop_max_fontsize",
            "label": "Desktop Font Size",
            "min": 30,
            "max": 130,
            "step": 1,
            "unit": "px",
            "default": 80,
             "visible_if": "{{ block.settings.typography }}"
        },
        {
            "type": "select",
            "id": "font_weight",
            "label": "Font Weight",
            "options": [
                { "value": "300", "label": "Light" },
                { "value": "400", "label": "Regular" },
                { "value": "500", "label": "Medium" },
                { "value": "600", "label": "Semi Bold" },
                { "value": "700", "label": "Bold" },
                { "value": "800", "label": "Extra Bold" },
                { "value": "900", "label": "Black" }
            ],
            "default": "700",
             "visible_if": "{{ block.settings.typography }}"
        },
        {
            "type": "range",
            "id": "line_height",
            "label": "Line Height",
            "min": 0.8,
            "max": 2,
            "step": 0.1,
            "default": 1,
             "visible_if": "{{ block.settings.typography }}"
        },
        {
            "type": "range",
            "id": "letter_spacing",
            "label": "Letter Spacing",
            "min": -5,
            "max": 20,
            "step": 1,
            "unit": "px",
            "default": 0,
             "visible_if": "{{ block.settings.typography }}"
        },
        {
            "type": "select",
            "id": "text_transform",
            "label": "Text Transform",
            "options": [
                { "value": "none", "label": "None" },
                { "value": "uppercase", "label": "UPPERCASE" },
                { "value": "lowercase", "label": "lowercase" },
                { "value": "capitalize", "label": "Capitalize" }
        ],
            "default": "none",
             "visible_if": "{{ block.settings.typography }}"
        },  
        {
            "type": "select",
            "id": "white_space",
            "label": "Text Wrap",
            "options": [
                { "value": "normal", "label": "Wrap" },
                { "value": "nowrap", "label": "No Wrap" }
            ],
            "default": "nowrap",
             "visible_if": "{{ block.settings.typography }}"
        },
        {
            "type": "header",
            "content": "Subtitle Settings"
        },
        {
            "type": "select",
            "id": "subtitle_tag",
            "label": "Subtitle Tag",
            "options": [
                { "value": "div", "label": "DIV" },
                { "value": "p", "label": "Paragraph" },
                { "value": "span", "label": "Span" }
            ],
            "default": "span"
        },
        {
            "type": "text",
            "id": "top_subtitle",
            "label": "Top Subtitle",
            "default": "Top Subtitle"
        },
       
        {
            "type": "text",
            "id": "bottom_subtitle",
            "label": "Bottom Subtitle",
            "default": "Bottom Subtitle"
        },
        {
            "type": "checkbox",
            "id": "subtitle_typography",
            "label": "Sub-heading Typography",
            "default": false
        },
        {
            "type": "range",
            "id": "subtitle_mobile_size",
            "label": "Subtitle Mobile Size",
            "min": 16,
            "max": 40,
            "step": 1,
            "unit": "px",
            "default": 24,
            "visible_if": "{{ block.settings.subtitle_typography }}"
        },
        {
            "type": "range",
            "id": "subtitle_desktop_size",
            "label": "Subtitle Desktop Size",
            "min": 18,
            "max": 46,
            "step": 1,
            "unit": "px",
            "default": 25,
            "visible_if": "{{ block.settings.subtitle_typography }}"
        },
        {
            "type": "range",
            "id": "subtitle_line_height",
            "label": "Subtitle Line Height",
            "min": 0.8,
            "max": 2,
            "step": 0.1,
            "default": 1,
            "visible_if": "{{ block.settings.subtitle_typography }}"
        },
        {
            "type": "range",
            "id": "subtitle_letter_spacing",
            "label": "Subtitle Letter Spacing",
            "min": -5,
            "max": 20,
            "step": 1,
            "unit": "px",
            "default": 0,
            "visible_if": "{{ block.settings.subtitle_typography }}"
        },
        {
            "type": "select",
            "id": "subtitle_transform",
            "label": "Subtitle Text Transform",
            "options": [
                { "value": "none", "label": "None" },
                { "value": "uppercase", "label": "UPPERCASE" },
                { "value": "lowercase", "label": "lowercase" },
                { "value": "capitalize", "label": "Capitalize" }
            ],
            "default": "none",
            "visible_if": "{{ block.settings.subtitle_typography }}"
        },
        {
            "type": "color",
            "id": "subtitle_color",
            "label": "Subtitle Color",
            "default": "#06123D",
            "visible_if": "{{ block.settings.subtitle_typography }}"
        },
        {
            "type": "range",
            "id": "top_subtitle_spacing",
            "label": "Top Sub-Title Bottom Spacing",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "default": 0,
            "visible_if": "{{ block.settings.subtitle_typography }}"
        },
        {
            "type": "range",
            "id": "bottom_subtitle_spacing",
            "label": "Bottom Sub-Title Top Spacing",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "default": 0,
            "visible_if": "{{ block.settings.subtitle_typography }}"
        }
    ],
    
    "presets": [
        {"name": "Heading Title block"}
    ]
}
{% endschema %} 