{%  liquid
    assign inherit_color_scheme = block.settings.inherit_color_scheme 
    assign color_scheme = block.settings.color_scheme 
    assign group_border_style = block.settings.group_border_style 
    assign custom_group_width = block.settings.custom_group_width 
    assign custom_group_height = block.settings.custom_group_height 
    assign group_block_url = block.settings.group_block_url
    assign block_link_newtab = block.settings.block_link_newtab
    assign group_block_padding = block.settings.group_block_padding
    assign group_padding_top = block.settings.group_padding_top
    assign group_padding_bottom = block.settings.group_padding_bottom
    assign group_padding_right = block.settings.group_padding_right
    assign group_padding_left = block.settings.group_padding_left
%}

<div class="custom-block-group custom_block_group_{{ block.id }} {% if inherit_color_scheme == false %} color-{{ color_scheme }} gradient {% endif %} {% if group_border_style == 'solid' %} group_border_style {% endif %} width-{{ custom_group_width }} height-{{ custom_group_height }}" {{ block.shopify_attributes }} {% if group_block_padding %} style="padding: var(--group_block_padding)" {% endif %}>


    <!-- Group Block Link -->
     {% if group_block_url != blank %}
      <a href="{{ group_block_url }}"
        class="group-block-link"
        aria-label="Group Block Link"
        {% if block_link_newtab %}
          target="_blank"
          rel="noopener noreferrer"
        {% endif %}
      > &nbsp </a>
    {% endif %}

    <!-- BACKGROUND -->
    <div class="custom_group-bg">
        {% if block.settings.background_media == 'image' and block.settings.image_picker != blank %}
            {{ block.settings.image_picker |  image_url: width: 3600 | image_tag: loading: 'eager', fetchpriority: 'high', class: 'custom_group_imagebg' }}

        {%  elsif block.settings.background_media == 'video' and block.settings.custom_video != blank %}
            {{ block.settings.custom_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true, class: 'custom_group_videobg'}}
        {% endif %}
    </div>

    <!-- Group BACKGROUND Overlay-->
        {% if block.settings.custom_group-overlay %}
    <div class="custom_group-overlay"> &nbsp </div>
        {% endif %}

    <div class="group-inner">
        {% content_for 'blocks' %}
    </div>

</div>

{% style %}
  .custom_block_group_{{ block.id }} {
    display: flex;
    height: 100%;
    --group_block_padding: {{group_padding_top}}px {{group_padding_right}}px {{group_padding_bottom}}px {{group_padding_left}}px;
  }
 
  /* Group Block Link*/
  .group-block-link {
  position: absolute;
  inset: 0;
  z-index: 1;
}
  /*Group Background*/
 .custom-block-group{
    position: relative;
    overflow: hidden;
    isolation: isolate;
    border-radius: {{block.settings.group_corner_radius}}px;
  }
  .group_border_style{
    border: {{block.settings.group_border_width}}px solid {{block.settings.group_border_color}};
  }
  .custom_group-bg {
    position: absolute;
    inset: 0;
    z-index: 1;
}
  .custom_group_imagebg,
    .custom_group_videobg {
        width: 100%;
        height: 100%;
        object-fit: {{ block.settings.background_fit }};
        object-position: {{ block.settings.background_position }};
  }
  /*Group Overlay*/
  .custom_group-overlay{
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: 2;
      {% if block.settings.overlay_style == 'solid' %}
      background: {{block.settings.overlay_color}};
          {% else %}
      background: {{block.settings.overlay_gradient}};
      {% endif %}

      opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
  }
    /*Group Width CSS*/
    .custom_block_group_{{ block.id }}.width-fill {
      flex: 1;
      width: 100%;
    }

    .custom_block_group_{{ block.id }}.width-fit-content {
      width: fit-content;
      max-width: 100%;
      flex: 0 0 auto;
    }

    .custom_block_group_{{ block.id }}.width-custom {
      --group-width: {{ block.settings.group_custom_width }}%;

      width: var(--group-width);
      max-width: var(--group-width);
      flex: 0 0 var(--group-width);
    }
    /* Group HEIGHT */

  .custom_block_group_{{ block.id }}.height-fit {
    height: fit-content;
  }

  .custom_block_group_{{ block.id }}.height-fill {
   height: 100%;
    align-self:stretch;
}
  

  .custom_block_group_{{ block.id }}.height-custom {
    --group-height: {{ block.settings.group_custom_height }}px;

    height: var(--group-height);
  }

  /* Group INNER */
    .group-inner{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: {{ block.settings.direction }};
        justify-content: {{ block.settings.justify }};
        align-items: {{ block.settings.align }};
        gap: {{ block.settings.gap }}px;
        width: 100%;
        height: 100%;
    }
{% endstyle %}

{%  schema  %}  
{
"name": "Group Block",
"tag": null,
"blocks": [
    { "type": "@theme" },
    { "type": "@app" }
],
"settings": [
     {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "options": [
        { "value": "row", "label": "Row" },
        { "value": "column", "label": "Column" }
      ],
      "default": "column"
    },

    {
      "type": "select",
      "id": "justify",
      "label": "Justify",
      "options": [
        { "value": "flex-start", "label": "Start" },
        { "value": "center", "label": "Center" },
        { "value": "space-between", "label": "Space Between" }
      ],
      "default": "flex-start"
    },

    {
      "type": "select",
      "id": "align",
      "label": "Align",
      "options": [
        { "value": "flex-start", "label": "Start" },
        { "value": "center", "label": "Center" },
        { "value": "stretch", "label": "Stretch" }
      ],
      "default": "flex-start"
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0,
      "label": "Gap"
    },
    {
      "type": "header",
      "content": "Size"
    },
    {
      "type": "select",
      "id": "custom_group_width",
      "label": "Group Width",
      "options": [
        { "label": "Fit", "value": "fit-content" },
        { "label": "Fill", "value": "fill" },
        { "label": "custom", "value": "custom" }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "group_custom_width",
      "label": "Custom Width",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50,
      "visible_if": "{{ block.settings.custom_group_width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "custom_group_height",
      "label": "Group Height",
      "options": [
        { "label": "Fit", "value": "fit" },
        { "label": "Fill", "value": "fill" },
        { "label": "custom", "value": "custom" }
      ],
      "default": "fit"
    },
    {
      "type": "range",
      "id": "group_custom_height",
      "label": "Custom Height",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50,
      "visible_if": "{{ block.settings.custom_group_height == 'custom' }}"
    },
    {
      "type": "header",
      "content": "Apparance"
    },
    {
    "type": "checkbox",
    "id": "inherit_color_scheme",
    "label": "Inherit Color Scheme",
    "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
  {
      "type": "select",
      "id": "background_media",
      "label": "Background Media",
      "options": [
          { "label": "None", "value": "none" },
          { "label": "Image", "value": "image" },
          { "label": "Video", "value": "video" }
      ],
      "default": "none"
  },
  {
      "type": "image_picker",
      "id": "image_picker",
      "label": "Background Image",
      "visible_if": "{{ block.settings.background_media == 'image'  }}"
  },
  {
      "type": "video",
      "id": "custom_video",
      "label": "Video",
        "visible_if": "{{ block.settings.background_media == 'video'  }}"
  },
  {
      "type": "select",
      "id": "background_fit",
      "label": "Background Fit",
      "options": [
          { "value": "cover", "label": "Cover" },
          { "value": "contain", "label": "Contain" },
          { "value": "fill", "label": "Fill" },
          { "value": "scale-down", "label": "Scale down" },
          { "value": "none", "label": "None" }
      ],
      "default": "cover",
      "visible_if": "{{ block.settings.background_media == 'image' or block.settings.background_media == 'video' }}"
  },
  {
      "type": "select",
      "id": "background_position",
      "label": "Background position",
      "default": "center center",
      "options": [
          { "value": "left top", "label": "Left Top" },
          { "value": "center top", "label": "Center Top" },
          { "value": "right top", "label": "Right Top" },

          { "value": "left center", "label": "Left Center" },
          { "value": "center center", "label": "Center Center" },
          { "value": "right center", "label": "Right Center" },

          { "value": "left bottom", "label": "Left Bottom" },
          { "value": "center bottom", "label": "Center Bottom" },
          { "value": "right bottom", "label": "Right Bottom" }
      ],
      "visible_if": "{{ block.settings.background_media == 'image' or block.settings.background_media == 'video' }}"
  },
  {
      "type": "checkbox",
      "id": "custom_group-overlay",
      "label": "Background Overlay",
      "default": false
  },
  {
      "type": "select",
      "id": "overlay_style",
      "label": "Overlay Style",
      "options": [
      { "value": "solid", "label": "Solid" },
      { "value": "gradient", "label": "Gradient" }
      ],
      "default": "solid",
      "visible_if": "{{ block.settings.custom_group-overlay }}"
  },
  {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay Color",
      "default": "#000000",
      "visible_if": "{{ block.settings.custom_group-overlay and block.settings.overlay_style == 'solid' }}"
  },
  {
      "type": "color_background",
      "id": "overlay_gradient",
      "label": "Gradient Overlay",
      "default": "linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.7))",
      "visible_if": "{{ block.settings.custom_group-overlay and block.settings.overlay_style == 'gradient' }}"
  },
  {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 40,
      "visible_if": "{{ block.settings.custom_group-overlay }}"
  },
  {
    "type": "select",
    "id": "group_border_style",
    "label": "Borders",
    "options": [
      { "label": "None", "value": "none" },
      { "label": "Solid", "value": "solid" }
    ],
    "default": "none"
  },
  {
      "type": "range",
      "id": "group_border_width",
      "label": "Border width",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "default": 1,
      "visible_if": "{{ block.settings.group_border_style == 'solid' }}"
    },
    {
      "type": "color",
      "id": "group_border_color",
      "label": "Border Color",
      "default": "#000000",
      "visible_if": "{{block.settings.group_border_style == 'solid'}}"
    },
    {
      "type": "range",
      "id": "group_corner_radius",
      "label": "Corner Radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Group Block Link"
    },
    {
      "type": "url",
      "id": "group_block_url",
      "label": "link"
    },
    {
      "type": "checkbox",
      "id": "block_link_newtab",
      "label": "Open Link In New Tab",
      "default": false
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "checkbox",
      "id": "group_block_padding",
      "label": "Group Padding",
      "default": false
    },
    {
        "type": "range",
        "id": "group_padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 20,
        "visible_if": "{{ block.settings.group_block_padding }}"
    },
    {
        "type": "range",
        "id": "group_padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 20,
        "visible_if": "{{ block.settings.group_block_padding }}"
    },
    {
        "type": "range",
        "id": "group_padding_left",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Left",
        "default": 20,
        "visible_if": "{{ block.settings.group_block_padding }}"
    },
    {
        "type": "range",
        "id": "group_padding_right",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Right",
        "default": 20,
        "visible_if": "{{ block.settings.group_block_padding }}"
    }
],
"presets": [
    { "name": "Group Block"}
]
}
{% endschema %} 