<div id="shopify-block-{{ block.id }}" class="heading" {{ block.shopify_attributes }}>
  {{ block.settings.heading }}
</div>

<style>
  #shopify-block-{{ block.id }} :is(h1, h2, h3, h4, h5, h6) {
    font-size: clamp(
      {{ block.settings.heading_min }}px,
      calc(
        {{ block.settings.heading_min }}px +
        ({{ block.settings.heading_max }} - {{ block.settings.heading_min }}) *
        ((100vw - 320px) / 880)
      ),
      {{ block.settings.heading_max }}px
    );
    font-weight:    {{ block.settings.font_weight }};
    text-align:     {{ block.settings.text_align }};
    text-transform: {{ block.settings.text_transform }};
    line-height:    {{ block.settings.line_height }};
    letter-spacing: {{ block.settings.letter_spacing }}em;
    color: rgb(var(--heading));
  }
</style>

{% schema %}
{
  "name": "Heading",
  "tag": null,
  "class": "heading",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<h1>Your go-to energy and hydration. Unified.</h1>"
    },
    {
      "type": "number",
      "id": "heading_min",
      "label": "Mobile Font Size (px)",
      "default": 45
    },
    {
      "type": "number",
      "id": "heading_max",
      "label": "Desktop Font Size (px)",
      "default": 65
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font Weight",
      "options": [
        { "value": "300", "label": "Light" },
        { "value": "400", "label": "Regular" },
        { "value": "500", "label": "Medium" },
        { "value": "600", "label": "Semi Bold" },
        { "value": "700", "label": "Bold" },
        { "value": "800", "label": "Extra Bold" },
        { "value": "900", "label": "Black" }
      ],
      "default": "700"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_transform",
      "label": "Text Transform",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "uppercase", "label": "UPPERCASE" },
        { "value": "lowercase", "label": "lowercase" },
        { "value": "capitalize", "label": "Capitalize" }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "line_height",
      "label": "Line Height",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "default": 1.1
    },
    {
      "type": "range",
      "id": "letter_spacing",
      "label": "Letter Spacing",
      "min": -0.1,
      "max": 0.5,
      "step": 0.1,
      "unit": "em",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Heading Title",
      "category": "Basic"
    }
  ]
}
{% endschema %}