{{ 'hero-split-banner.css' | asset_url | stylesheet_tag }}
{% liquid
  
  assign herosearch_top_spacing = section.settings.herosearch_top_spacing
  assign herosearch_bottom_spacing = section.settings.herosearch_bottom_spacing

  assign heading_width = section.settings.heading_width
  assign description = section.settings.description
  assign description_width = section.settings.description_width

  assign features_text_01 = section.settings.features_text_01
  assign features_text_02 = section.settings.features_text_02
  assign features_icon_01 = section.settings.features_icon_01
  assign features_icon_02 = section.settings.features_icon_02
  assign features_bg_color = section.settings.features_bg_color
  assign features_icon_size = section.settings.features_icon_size

  assign radius_top_right = section.settings.radius_top_right
  assign radius_bottom_right = section.settings.radius_bottom_right

  assign search_placeholder = section.settings.search_placeholder
  assign search_button_text = section.settings.search_button_text

  assign appointment_text = section.settings.appointment_text
  assign appointment_btn_url = section.settings.appointment_btn_url
  
%}
<div class="custom-hero-{{ section.id }} color-{{ section.settings.color_scheme }} gradient" style="--bg-2: {{ section.settings.background_2 }};">
  <div class="hero-container">
    
    <div class="hero-content page-width mobile-padding">
        <div class="content-top">
          {% assign heading_text = section.settings.heading | strip_html | strip %}
          {% assign words = heading_text | split: ' ' %}
          {% assign last_word = words | last %}
          {% assign words_count = words | size | minus: 1 %}

          <h1 class="{{ section.settings.heading_size }}">
            {% if words.size > 1 %}
              {{ words | slice: 0, words_count | join: ' ' }}
              <span class="last-word">{{ last_word }}</span>
            {% else %}
              <span class="last-word">{{ heading_text }}</span>
            {% endif %}
          </h1>

          <p>{{ description }}</p>
        </div>

        <div class="content-bottom only-desktop">
          <div class="features_content">
            {% if features_text_01 != blank %}
                <div class="features_content_item1 features_item appointment_button">
                {% if features_icon_01 %} 
                  {{ features_icon_01 | image_url: width: features_icon_size | image_tag: loading: 'lazy', fetchpriority: 'high', class: 'hero_slide_icon'}} 
                  {% else %}
                  {% render 'user-icon2' %}
                {% endif %}
                <span class="hero_features_text"> {{ features_text_01}} </span>
                </div>
            {% endif %}
            {% if features_text_02 != blank %}
                <div class="features_content_item2 features_item appointment_button">
                {% if features_icon_02 %} {{ features_icon_02 | image_url: width: features_icon_size | image_tag: loading: 'lazy', fetchpriority: 'high', class: 'hero_slide_icon'}} 
              {% else %}
                  {% render 'user-icon2' %}
              {% endif %}
                <span class="hero_features_text"> {{ features_text_02}} </span>
                </div>
            {% endif %}
          </div>

        
          <div class="only-desktop search-bar">
            {% render 'hero_search_bar',
              search_placeholder: search_placeholder,
              search_button_text: search_button_text
            %}
          </div>
        

      </div>
    </div> 


    <div class="swiper heroSlider">
        <div class="swiper-wrapper" style="--slider-width: {{ slider_width }};">
            {% for block in section.blocks %}
              {% liquid
                assign media = block.settings.media
                assign mobile_media = block.settings.mobile_media
                assign slider_image_overlay = block.settings.slider_image_overlay  
              %}
                  
              <div class="swiper-slide slide">
                
                <div class="slide-media {% if block.settings.slider_image_overlay %}has-overlay{% endif %}">
                    {% if media %}
                  <!-- Desktop Image -->
                  {{ media | image_url: width: 1200 | image_tag: loading: 'lazy', fetchpriority: 'high', class: 'hero_slide_image only-desktop' }}
                  {% else %}
                  {{ 'detailed-apparel-1' | placeholder_svg_tag: 'hero_slide_image' }}
                  {% endif %}

                  {% if mobile_media %}
                  <!-- Mobile Image (for devices < 768px) -->
                  {{ mobile_media | image_url: width: 800 | image_tag: loading: 'lazy', fetchpriority: 'high', class: 'hero_slide_image only-mobile' }}
                  {% endif %}

                </div>
              </div>
            {% endfor %}
        </div>
    </div>
  
   {% if appointment_btn_url != blank %}
    <div class="appointment_container"> 
        <a class="appointment_button" href="{{ appointment_btn_url }}">
          {% render 'user-icon' %}
          <p class="appointment_text"> {{ appointment_text}} </p>
        </a>
    </div>
  {% endif %}
    
<div class="only-mobile search-bar">
  {% render 'hero_search_bar',
    search_placeholder: search_placeholder,
    search_button_text: search_button_text
  %}
</div>

</div>
</div>

<style>
 
 

.custom-hero-{{ section.id }}{
  --split: calc(70vw * 903 / 1483);
    width: 100%;
    min-height: var(--split);
    position: relative; 
    background: rgb(var(--color-background));
    overflow: hidden;
{% comment %}
   background: linear-gradient(
    to bottom,
    var(--color-background) 0,
    var(--color-background) var(--split),
    var(--bg-2) var(--split),
    var(--bg-2) 100%
  ); {% endcomment %}
  
--heading_width: {{ heading_width }}px;
--description_width: {{ description_width }}px;

--radius_top_right: {{ radius_top_right }}px;
--radius_bottom_right: {{ radius_bottom_right }}px;
--slide_height: {{ slide_height }};

--features_bg_color: {{ features_bg_color }};
--herosearch_top_spacing: {{ herosearch_top_spacing }}px;
--herosearch_bottom_spacing: {{ herosearch_bottom_spacing }}px;
}
.custom-hero-{{ section.id }}::before {
  content: "";
  position: absolute;
  top: var(--split);
  left: 0;
  width: 100%;
  height: calc(100% - var(--split));

  background: var(--bg-2); 

  z-index: 0;
}
.custom-hero-{{ section.id }}::after{
content: '';
position: absolute;
width: 100%;
height: 100%;
inset: 0;
border-radius: 0 500px 500px 0; 
opacity: 0.1; 
background: #52B099; 
filter: blur(75px); 
z-index: 1;
} 
@media (min-width: 1024px) and (max-width: 1400px) {
  .custom-hero-{{ section.id }} {
    --split: calc(80vw * 903 / 1483);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-hero-{{ section.id }} {
    --split: calc(85vw * 903 / 1483);
  }
  .hero-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
}
@media (max-width: 767px) {
  .custom-hero-{{ section.id }} {
    --split: 60%;
    
    background: linear-gradient(
      to bottom,
      #06123D 0,
      #06123D var(--split),
      #3F7280 var(--split),
      #3F7280 100%
    );
  }
}
</style>

<script>
    var swiper = new Swiper(".heroSlider", {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    effect: "fade",
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
    });
  </script>
{% schema %}
{
"name": "Custom Hero Banner",
"class": "custom-hero-banner",
"tag": "section",
"settings": [
  {
  "type": "header",
  "content": "Section Style"
  },
  {
  "type": "color_scheme",
  "id": "color_scheme",
  "label": "Chose Color Scheme",
  "default": "scheme-6"
  },
  {
  "type": "color",
  "id": "background_2",
  "label": "Second Background Color",
  "default": "#3F7280"
},
  {
    "type": "range",
    "id": "herosearch_top_spacing",
    "label": "Top Spacing",
    "min": 0,
    "max": 100,
    "step": 1,
    "default": 80,
    "unit": "px"
    },
  {
    "type": "range",
    "id": "herosearch_bottom_spacing",
    "label": "Top Spacing",
    "min": 0,
    "max": 100,
    "step": 1,
    "default": 80,
    "unit": "px"
    },
  {
      "type": "header",
      "content": "Text"
    },
  {
    "type": "inline_richtext",
    "id": "heading",
    "label": "Input Heading",
    "default": "Wij houden van fietsen"
    },
    {
    "type": "select",
    "id": "heading_size",
    "label": "Heading Size",
    "default": "font-title-large",
    "options": [
      {"label": "Sub-title", "value": "font-subtitle"},
      {"label": "Medium", "value": "font-title-medium"},
      {"label": "Extra Large", "value": "font-title-large"}
    ]
    },
    {
    "type": "range",
    "id": "heading_width",
    "label": "Heading Width",
    "min": 300,
    "max": 600,
    "step": 20,
    "default": 460
    },
    {
    "type": "textarea",
    "id": "description",
    "label": "Description",
    "default": "Ultiem fietsplezier door middel van optimale service, kwaliteit en vakmanschap. Dat staat bij ons voorop!"
    },
     {
    "type": "range",
    "id": "description_width",
    "label": "Description Width",
    "min": 300,
    "max": 600,
    "step": 20,
    "default": 400
    },
    {
    "type": "header",
    "content": "Features Button"
    },
    {
    "type": "image_picker",
    "id": "features_icon_01",
    "label": "Features Icon 1"
    },
    {
    "type": "text",
    "id": "features_text_01",
    "label": "Features Text 1",
    "default": "Plan een advies gesprek"
    },
    {
    "type": "image_picker",
    "id": "features_icon_02",
    "label": "Features Icon 2"
    },
    {
    "type": "text",
    "id": "features_text_02",
    "label": "Features Text 2",
    "default": "Plan een service gesprek"
    },
    {
    "type": "color",
    "id": "features_bg_color",
    "label": "Features Item Background",
    "default":" #52B099",
    },
    {
    "type": "text",
    "id": "features_icon_size",
    "label": "Icon Size",
    "default": "14px"
    },
    {
    "type": "header",
    "content": "Slider Style"
    },
    {
    "type": "range",
    "id": "radius_top_right",
    "label": "Top Right Radius",
    "min": 0,
    "max": 400,
    "step": 10,
    "default": 400,
    "unit": "px"
    },
    {
    "type": "range",
    "id": "radius_bottom_right",
    "label": "Bottom Right Radius",
    "min": 0,
    "max": 400,
    "step": 10,
    "default": 400,
    "unit": "px"
    },
    {
    "type": "header",
    "content": "Search Bar Content"
    },
    {
     "type": "text",
    "id": "search_placeholder",
    "label": "Search Placeholder Text",
    "default": "Waar ben je naar op zoek?"
    },
    {
     "type": "text",
    "id": "search_button_text",
    "label": "Search Button Text",
    "default": "ZOEKEN"
    },
    {
    "type": "header",
    "content": "Appointment Content"
    },
    {
     "type": "text",
    "id": "appointment_text",
    "label": "Appointment Text",
    "default": "Make an appointment!"
    }, 
    {
    "type": "url",
    "id": "appointment_btn_url",
    "label": "URL"
    }
],
"disabled_on": {"groups": ["header", "footer", "aside"]},
"blocks": [
  {
    "type": "slide",
    "name": "Image Slider",
    "settings": [
        {
        "type": "image_picker",
        "id": "media",
        "label": "Select Slider Image"
        },
        {
        "type": "image_picker",
        "id": "mobile_media",
        "label": "Select Mobile Slider Image"
        },
        {
        "type": "checkbox",
        "id": "slider_image_overlay",
        "label": "Enable Image Overlay",
        "default": true
        }
    ]
    }
],
"presets": [{"name": "Hero BAnner New"}]
}
{% endschema %}
