{{ 'hero_banner.css' | asset_url | stylesheet_tag }}
{% liquid
       assign heading_width = section.settings.heading_width
    assign description = section.settings.description
    assign description_width = section.settings.description_width

    assign features_icon_01 = section.settings.features_icon_01
    assign features_text_01 = section.settings.features_text_01
    assign features_icon_02 = section.settings.features_icon_02
    assign features_text_02 = section.settings.features_text_02
    assign features_bg_color = section.settings.features_bg_color
    assign features_icon_size = section.settings.features_icon_size
     
    assign herosearch_top_spacing = section.settings.herosearch_top_spacing
    assign herosearch_bottom_spacing = section.settings.herosearch_bottom_spacing
    assign search_placeholder = section.settings.search_placeholder
    assign search_button_text = section.settings.search_button_text

    assign appointment_text = section.settings.appointment_text
    assign appointment_btn_url = section.settings.appointment_btn_url

    assign slider_width = section.settings.slider_width
    assign slide_height = section.settings.slide_height
    assign radius_top_right = section.settings.radius_top_right
    assign radius_bottom_right = section.settings.radius_bottom_right

    assign bottom_bg_color = section.settings.bottom_bg_color

%}

<section class="custom-hero-{{section.id}} color-{{ section.settings.color_scheme }} isolate gradient"> 

    <div class="hero_container"> 
            <div class="swiper heroSlider">
              <div class="swiper-wrapper" style="--slider-width: {{ slider_width }};">
                  {% for block in section.blocks %}
                    {% liquid
                      assign media = block.settings.media
                      assign mobile_media = block.settings.mobile_media
                      assign slider_image_overlay = block.settings.slider_image_overlay  
                    %}
                        
                    <div class="swiper-slide slide">
                      
                      <div class="slide-media"
                        style="
                          --overlay-opacity: {{ slider_image_overlay | divided_by: 100.0 }};
                        ">
                         {% if media %}
                        <!-- Desktop Image -->
                        {{ media | image_url: width: 1200 | image_tag: loading: 'lazy', fetchpriority: 'high', class: 'hero_slide_image desktop_image' }}
                    {% else %}
                        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'hero_slide_image' }}
                    {% endif %}

                    {% if mobile_media %}
                        <!-- Mobile Image (for devices < 768px) -->
                        {{ mobile_media | image_url: width: 800 | image_tag: loading: 'lazy', fetchpriority: 'high', class: 'hero_slide_image mobile_image' }}
                    {% endif %}

                      </div>

                    </div>
                  {% endfor %}
              </div>
            </div>

            
            <div class="page-width positionAbsolute">
                <div class="hero_banner_content"> 
                    {% comment %} applied new liquid for last words colored {% endcomment %}
                     <div class="top_content">
                          {% assign heading_text = section.settings.heading | strip_html | strip %}
                          {% assign words = heading_text | split: ' ' %}
                          {% assign last_word = words | last %}
                          {% assign words_count = words | size | minus: 1 %}

                          <h1 class="{{ section.settings.heading_size }}">
                            {% if words.size > 1 %}
                              {{ words | slice: 0, words_count | join: ' ' }}
                              <span class="last-word">{{ last_word }}</span>
                            {% else %}
                              <span class="last-word">{{ heading_text }}</span>
                            {% endif %}
                          </h1>

                          <p>{{ description }}</p>
                        </div>
                    
                    <div class="bottom_content">
                        <div class="features_content">
                            {% if features_text_01 != blank %}
                                <div class="features_content_item1 features_item appointment_button">
                                {% if features_icon_01 %} 
                                  {{ features_icon_01 | image_url: width: features_icon_size | image_tag: loading: 'lazy', fetchpriority: 'high', class: 'hero_slide_icon'}} 
                                  {% else %}
                                  {% render 'user-icon2' %}
                                {% endif %}
                                <span class="hero_features_text"> {{ features_text_01}} </span>
                                </div>
                            {% endif %}
                            {% if features_text_02 != blank %}
                                <div class="features_content_item2 features_item appointment_button">
                                {% if features_icon_02 %} {{ features_icon_02 | image_url: width: features_icon_size | image_tag: loading: 'lazy', fetchpriority: 'high', class: 'hero_slide_icon'}} 
                              {% else %}
                                  {% render 'user-icon2' %}
                              {% endif %}
                                <span class="hero_features_text"> {{ features_text_02}} </span>
                                </div>
                            {% endif %}
                        </div>
                        
                        <!-- Desktop position -->
                        <div class="search-desktop">
                          {% render 'hero_search_bar',
                            search_placeholder: search_placeholder,
                            search_button_text: search_button_text
                          %}
                        </div>
                        
                    </div>
                </div>
            </div> 

            {% if appointment_btn_url != blank %}
            <div class="appointment_container"> 
                <a class="appointment_button" href="{{ appointment_btn_url }}">
                 {% render 'user-icon' %}
                  <p class="appointment_text"> {{ appointment_text}} </p>
                </a>
            </div>
            {% endif %}
          
          <!-- Mobile position -->
          <div class="search-mobile">
            {% render 'hero_search_bar',
              search_placeholder: search_placeholder,
              search_button_text: search_button_text
            %}
          </div>
    </div>
    
</section>

<style>
  .custom-hero-{{section.id}}{
    --radius_top_right: {{ radius_top_right }}px;
    --radius_bottom_right: {{ radius_bottom_right }}px;
    --slide_height: {{ slide_height }};
    --heading_width: {{ heading_width }}px;
    --description_width: {{ description_width }}px;
    --features_bg_color: {{ features_bg_color }};
    --herosearch_top_spacing: {{ herosearch_top_spacing }}px;
    --herosearch_bottom_spacing: {{ herosearch_bottom_spacing }}px;
    --bottom_bg_color: {{ bottom_bg_color }};
  }
  /* Add media queries here to toggle visibility of images */
  .hero_slide_image.mobile_image {
      display: none;
  }

  /* Show mobile image for screen widths below 768px */
  @media (max-width: 768px) {
    .hero_slide_image.desktop_image {
    display: none;
    }

    .hero_slide_image.mobile_image {
    display: block;
    }

    .slide-media {
    width: 95%;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
  }
    .heroSlider .hero_slide_image {
    aspect-ratio: .85 / 1;
  }

  
  }
</style>
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>  {% endcomment %}

  <!-- Initialize Swiper -->
  
    <script>
    var swiper = new Swiper(".heroSlider", {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    effect: "fade",
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      }, 
  });
  </script>
  
{% style %}
  .custom-hero-{{section.id}}{
    --radius_top_right: {{ radius_top_right }}px;
    --radius_bottom_right: {{ radius_bottom_right }}px;
    --slide_height: {{ slide_height }};
    --heading_width: {{ heading_width }}px;
    --description_width: {{ description_width }}px;
    --features_bg_color: {{ features_bg_color }};
    --herosearch_top_spacing: {{ herosearch_top_spacing }}px;
    --herosearch_bottom_spacing: {{ herosearch_bottom_spacing }}px;
    --bottom_bg_color: {{ bottom_bg_color }};
  }
{% endstyle %}

{% schema %}
{
"name": "Hero Banner",
"class": "hero_banner",
"tag": "section",
"settings": [
    {
      "type": "header",
      "content": "Text"
    },
  {
    "type": "inline_richtext",
    "id": "heading",
    "label": "Input Heading",
    "default": "Wij houden van fietsen"
    },
    {
    "type": "select",
    "id": "heading_size",
    "label": "Heading Size",
    "default": "font-title-large",
    "options": [
      {"label": "Sub-title", "value": "font-subtitle"},
      {"label": "Medium", "value": "font-title-medium"},
      {"label": "Extra Large", "value": "font-title-large"}
    ]
    },
    {
    "type": "range",
    "id": "heading_width",
    "label": "Heading Width",
    "min": 300,
    "max": 600,
    "step": 20,
    "default": 460
    },
    {
    "type": "textarea",
    "id": "description",
    "label": "Description",
    "default": "Ultiem fietsplezier door middel van optimale service, kwaliteit en vakmanschap. Dat staat bij ons voorop!"
    },
     {
    "type": "range",
    "id": "description_width",
    "label": "Description Width",
    "min": 300,
    "max": 600,
    "step": 20,
    "default": 400
    },
    {
    "type": "header",
    "content": "Features Button"
    },
    {
    "type": "image_picker",
    "id": "features_icon_01",
    "label": "Features Icon 1"
    },
    {
    "type": "text",
    "id": "features_text_01",
    "label": "Features Text 1",
    "default": "Plan een advies gesprek"
    },
    {
    "type": "image_picker",
    "id": "features_icon_02",
    "label": "Features Icon 2"
    },
    {
    "type": "text",
    "id": "features_text_02",
    "label": "Features Text 2",
    "default": "Plan een service gesprek"
    },
    {
    "type": "color",
    "id": "features_bg_color",
    "label": "Features Item Background",
    "default":" #52B099",
    },
    {
    "type": "text",
    "id": "features_icon_size",
    "label": "Icon Size",
    "default": "14px"
    },
    {
    "type": "header",
    "content": "Search Bar Content"
    },
    {
     "type": "text",
    "id": "search_placeholder",
    "label": "Search Placeholder Text",
    "default": "Waar ben je naar op zoek?"
    },
    {
     "type": "text",
    "id": "search_button_text",
    "label": "Search Button Text",
    "default": "ZOEKEN"
    },
    {
    "type": "header",
    "content": "Appointment Content"
    },
    {
     "type": "text",
    "id": "appointment_text",
    "label": "Appointment Text",
    "default": "Make an appointment!"
    }, 
    {
    "type": "url",
    "id": "appointment_btn_url",
    "label": "URL"
    },
    {
    "type": "header",
    "content": "Section Style"
    },
    {
    "type": "color_scheme",
    "id": "color_scheme",
    "label": "Select Section Color",
    "default": "scheme-6"
    },
    {
    "type": "color",
    "id": "bottom_bg_color",
    "label": "Bottom Background Color",
    "default": "#3F7280"
    },
    {
    "type": "text",
    "id": "slider_width",
    "label": "Slider Width",
    "default": "1350px"
    },
{
  "type": "range",
  "id": "slide_height",
  "label": "Slide Height",
  "min": 0,
  "max": 1,
  "step": 0.1,
  "default": 0.5
},
    {
  "type": "range",
  "id": "radius_top_right",
  "label": "Top Right Radius",
  "min": 0,
  "max": 400,
  "step": 10,
  "default": 400,
  "unit": "px"
},
{
  "type": "range",
  "id": "radius_bottom_right",
  "label": "Bottom Right Radius",
  "min": 0,
  "max": 400,
  "step": 10,
  "default": 400,
  "unit": "px"
}
],
"blocks": [
    {
    "type": "slide",
    "name": "Image Slider",
    "settings": [
        {
        "type": "image_picker",
        "id": "media",
        "label": "Select Slider Image"
        },
        {
        "type": "image_picker",
        "id": "mobile_media",
        "label": "Select Mobile Slider Image"
        },
        {
        "type": "range",
        "id": "slider_image_overlay",
        "label": "Image Overlay Opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 0
        }
    ]
    }
],
"disabled_on": {
"groups": ["header", "footer", "aside"]
},
"presets": [
    {
    "name": "Hero Banner"
    }
]
}
{% endschema %}

